@model OnlineWebApp.Models.AppModels.Brand

@{
    ViewBag.Title = "BrowseBrands";
}

<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>@ViewBag.Title</span>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                @{
                    Html.RenderAction("GenreMenu", "OnlineStores");
                    Html.RenderAction("Brands", "OnlineStores");
                    Html.RenderAction("Tags", "OnlineStores");
                }
            </div>

            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                </div>
                <div class="product-list">
                    <div class="row">
                        @foreach (var item in Model.Items)
                        {
                            <div class="col-lg-4 col-sm-6">
                                <div class="product-item">
                                    <div class="pi-pic">
                                        @if (item.Front_View != null)
                                        {
                                            var base64 = Convert.ToBase64String(item.Front_View);
                                            var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
                                            <img src="@ImgSource" alt="" width="270" height="300" />
                                        }
                                        @if (item.Sales.Sale_Name == "On Sale")
                                        {
                                            <div class="sale pp-sale">Sale</div>
                                        }

                                        @if (Request.IsAuthenticated)
                                        {
                                            <div class="icon">
                                                <a href="@Url.Action("AddToList", "OnlineStores", new { id = item.Item_Id, crumbPage = ViewBag.Title})"><i class="icon_heart_alt"></i></a>
                                            </div>
                                        }
                                        <ul>
                                            <li class="w-icon active"><a href="@Url.Action("AddToCart", "ShoppingCart", new { id = item.Item_Id})"><i class="icon_bag_alt"></i></a></li>
                                            <li class="quick-view"><a href="@Url.Action("Details","OnlineStores", new { id = item.Item_Id})">+ Quick View</a></li>
                                            <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="pi-text">
                                        <div class="catagory-name">@item.Categories.Category_Type</div>
                                        <a href="#">
                                            <h5>@item.Item_Name</h5>
                                        </a>
                                        <div class="product-price">
                                            @if (item.Sales.Sale_Name == "On Sale")
                                            {
                                                var discount = (from d in item.Discounts
                                                                where d.Item_Id == item.Item_Id
                                                                select d.Discount_Price).SingleOrDefault();
                                                ViewBag.Discount = "R" + discount;

                                                @ViewBag.Discount
                                                <span>@Html.DisplayFor(modelItem => item.ItemCost)</span>
                                            }
                                            else
                                            {
                                                @Html.DisplayFor(modelItem => item.ItemCost)
                                            }


                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

