@model IEnumerable<OnlineWebApp.Models.Items>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Brand.Tag_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categories.Category_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sales.Sale_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tag.Tag_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Front_View)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Left_View)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rght_View)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityOnHand)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Brand.Tag_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categories.Category_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sales.Sale_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tag.Tag_Name)
        </td>
        <td>
            @if (item.Front_View != null)
            {
                var base64 = Convert.ToBase64String(item.Front_View);
                var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
                <img src="@ImgSource" width="250" height="250" />
            }
        </td>
        <td>
            @if (item.Left_View != null)
            {
                var base64 = Convert.ToBase64String(item.Left_View);
                var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
                <img src="@ImgSource" width="250" height="250" />
            }
        </td>
        <td>
            @if (item.Rght_View != null)
            {
                var base64 = Convert.ToBase64String(item.Rght_View);
                var ImgSource = string.Format("data:image/gif;base64,{0}", base64);
                <img src="@ImgSource" width="250" height="250" />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Item_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ItemCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityOnHand)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Item_Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Item_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Item_Id })
        </td>
    </tr>
}

</table>
